<div class='defaultfont' style='position:absolute;background-color:#ffffff;width:100%;height:30px;top:10px;color:black;padding:10px'><span style='font-family:DiavloBook;font-size:20px;line-height:30px'>
#magazinetitle# ##magazinenumber# #articletitle# page : #vertical# on #verticalcount#
</div>
<style type="text/css">
	.buttonstyle{
		position:absolute;top:10px;width:100px;bottom:20px;height:40px;overflow:hidden;background-color:#FF6A00; text-align:center; font-size: 15px;
	}
	.buttonstyle:hover {
		background-color:#0096ff;
	}
	.p_row#vertical##vertical# {
		font-weight: bold; text-decoration: underline;
	}

</style>
<div class="p_row1#vertical# buttonstyle" style='left:600px;' interactive="yes" onclick="widget.gotosheet(null,null,0)" >
	#prod_page1#
</div>
<div class="p_row2#vertical# buttonstyle" style='left:720px;' interactive="yes" onclick="widget.gotosheet(null,null,1)" >
	#prod_page2#
</div>
<div class="p_row3#vertical# buttonstyle" style='left:840px;' interactive="yes" onclick="widget.gotosheet(null,null,2)" >
	#prod_page3#
</div>
<div class="p_row4#vertical# buttonstyle" style='left:960px;' interactive="yes" onclick="widget.gotosheet(null,null,3)" >
	#prod_page4#
</div>
