<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
  <title></title>  
</head>

 <body >
		
<div
style="position:absolute;left:-60px;top:-60px;right:0px;font-family:DiavloBook;font-size:12px;height:130px;text-align:center;background-color:#37485C;">
</div>

<div
style="color:#ffffff;position:absolute;left:0px;top:25px;right:0px;font-family:DiavloBook;font-size:12px;height:80px;text-align:center">
#header# </div>

<div
style="color:#ffffff;position:absolute;left:0px;top:43px;right:0px;font-family:DiavloBook;font-size:10px;height:80px;text-align:center">
#subheader# </div>

<div
style="position:absolute;left:-20px;top:65px;right:-20px;font-family:DiavloBook;font-size:30px;font-weight:bold;background-color:#FF6A00;padding:10px 0px 0px 10px;height:40px;line-height:40px;color:#ffffff;text-transform: uppercase;white-space:nowrap;">
 #magazinetitle# </div>

<div style="position:absolute;left:-20px;top:120px;right:-20px; background-color:#fff;">
<svg id="circle" height="560" width="560" 
     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
  <image x="0" y="0" height="560" width="560"  xlink:href="issues/common/images/worldlandmarks.svg" />
</svg>
</div>

<div style="position:absolute;left:40%;top:120px; background-color:#fff;">
	<iframe src="issues/common/images/pres1/slide1.svg" frameBorder="0" height="560" width="560" ></iframe>
</div>

<div style="background: url(issues/common/images/pendula.svg);position:absolute;left:90%;top:300px; background-color:#fff;">
Slide here!
	<!iframe src="issues/common/images/pendula.svg" frameBorder="0"><!/iframe>
</div>

<div class="smallborderradius"
style="position:absolute;right:20px;left:20px;bottom:70px;font-family:DiavloBook;font-size:12px;background-color:#37485C;color:#D9D7AD;padding:8px">
#details# </div>

<div
style="color:#ffffff;position:absolute;left:0px;bottom:0px;right:0px;padding-top:5px;padding-bottom:5px;font-family:DiavloBook;font-size:12px;text-align:center;border-top:1px dashed #000000;background-color:rgba(0,0,0,0.5)">
#credits# </div>
</body>
</html>
